@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.header {
  @include flexSpaceBetween;
  background-color: $header-bg;
  padding: 0.5rem 2rem;

  .navbar {
    @include flexRow;
    gap: 4rem;

    .items {
      @include flexRow;
    }
  }
}
